<%= form_with model: @wire, url:wires_path, local: true do |f| %>
  <div class="wire-box">
    新規品を登録する
    <%= f.text_field :hinban, class:"hinban", placeholder:"品番名" %>
    <%= f.text_field :chumon, class:"hinban", placeholder:"注文数" %>
    <%= f.text_field :seisan, class:"hinban", placeholder:"生産数" %>
    <%= f.text_field :husoku, class:"hinban", placeholder:"不足分" %>
    <%= f.collection_select(:kei_id, Kei.all, :id, :name, {}, {class:"genre-select"}) %>
    <%= f.collection_select(:iro_id, Iro.all, :id, :name, {}, {class:"genre-select"}) %>
    <%= f.text_field :nagasa, class:"nagasa", placeholder:"L寸" %>
    <%= f.text_field :tanka, class:"tanka", placeholder:"単価" %>
    <%= f.submit "新規品を登録" ,class:"btn" %>
  </div>
<% end %>